#virtual env binaries
.venv

#python notebook endpoints
scripts/.ipynb_checkpoints
scripts/*.ipynb

#python files
scripts/__pycache__

#data
data/eeg-during-mental-arithmetic-tasks-1.0.0
data/eeg-during-mental-arithmetic-tasks-1.0.0.zip