#virtual env binaries
.venv

#python notebook endpoints
scripts/.ipynb_checkpoints

#python files
scripts/__pycache__

#data
data/*

plots/*/before/*.png
plots/*/after/*.png
eigenspectrum/fit/*.csv
eigenspectrum/*.csv

download.log